.background-container {
    background-image: url('https://csh.rit.edu/~jays/bkgrnd1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 100vh;
}
