.socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    margin: 0 10px; 
}

.social-icon a {
    display: block; 
    border-radius: 8px; 
    overflow: hidden; 
}

.social-icon img {
    width: 40px; 
    height: auto; 
}

.gmail-icon {
    border-radius: 0; 
}
